{% extends 'base.html.twig' %}

{% block title %}Gestion Slider
{% endblock %}

{% block body %}
	{# {{ dump(sliders) }} #}
    
    <h1 class="text-center my-4">Gestion du Slider</h1>

	<div class="container">
		<a href="{{ path('app_admin_slider_new') }}" class="btn btn-primary my-2">Ajouter un slider</a>
		{% if sliders is empty %}
			<div>
				<p>
					il n'y a pas de une photo
				</p>
			</div>
		{% else %}
			<table class="table table-dark">
				<thead>
					<tr>
						<th>#</th>
						<th>Photo</th>
						<th>Ordre</th>
						<th>Date Enregistrement</th>
						<th>option</th>
					</tr>
				</thead>
				<tbody>
					{% for slider in sliders %}
						<tr>
							<td>{{ slider.id }}</td>
							<td>{{ slider.ordre }}</td>
							<td>
								<figure>
									<img src="{{ asset(img_dir ~ slider.photo) }}" alt="{{ slider.photo }}" style="max-height: 100px;">
									<figcaption>
										{{ slider.photo }}
									</figcaption>
								</figure>
							</td>
							<td>{{ slider.dateEnregistrement|date("d/m/Y à H:i/s") }}</td>
							<td>
								<a href="{{ path('app_admin_slider_update' , {id: slider.id}) }}" class="text-warning">modifier</a>
								<a href="{{ path('app_admin_slider_delete', {id: slider.id}) }}" class="text-danger">supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endif %}

	</div>
{% endblock %}
