{% extends 'base.html.twig' %}

{% block title %}Gestion Commande
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Gestion des Commandes</h1>

	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Identité</th>
				<th>chambre</th>
				<th>Prix Tolal</th>
				<th>Date d'arrivée</th>
				<th>Date de départ</th>
				<th>Date Enregistrement</th>
				<th>option</th>
			</tr>
		</thead>
		<tbody>

			{% for commande in commandes %}
				<tr>
					<td>{{ commande.id }}</td>
					<td>{{ commande.nom ~ " " ~ commande.prenom }}
						{{ commande.email ~ " " ~ commande.telephone }}
					</td>
					<td>{{ commande.idChambre.titre ~ " " ~ commande.idChambre.prixJournalier }}</td>
					<td>{{ commande.prixTotal }}€</td>
					<td>{{ commande.dateArrivee|date("d/m/Y") }}</td>
					<td>{{ commande.dateDepart|date("d/m/Y") }}</td>
					<td>{{ commande.dateEnregistrement|date("d/m/Y à H:i/s") }}</td>
					<td>
						<a href="{{ path('app_admin_commande_update' , {id: commande.id}) }}" class="text-warning">modifier</a>
						{# <a href="{{ path('app_admin_membre_delete', {id: membre.id}) }}" class="text-danger">supprimer</a> #}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
